* {
  box-sizing: border-box;
}

body {
  // position: relative;
  margin: 0;
  font-size: 16px;
  background: #f7f9fa;
}

input,
textarea,
a {
  text-decoration: none;
  outline: none;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.clearfix::before,
.clearfix::after {
  display: table;
  content: "";
}

.clearfix::after {
  clear: both;
}

a[disabled] {
  pointer-events: none;
}

[class*="prevent-scroll"] {
  height: 100vh;
  overflow: hidden;
}

[hidden] {
  display: none !important;
}

.right {
  float: right;
}

.left {
  float: left;
}

.am-toast-text-info {
  white-space: pre-line;
}

.page-content {
  height: 100vh;
  padding: $local-page-padding;
  overflow-y: scroll;
  background: $local-main-bg;
}

.page-footer-bar-main-content {
  height: calc(100vh - #{$local-footer-bar-height});
}
