.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.clearfix::before,
.clearfix::after {
  display: table;
  content: "";
}

.clearfix::after {
  clear: both;
}

a[disabled] {
  pointer-events: none;
}

[class*="prevent-scroll"] {
  height: 100vh;
  overflow: hidden;
}

[hidden] {
  display: none !important;
}

/* 导航激活色 */
.ant-menu-item-selected {
  background:
    linear-gradient(
      270deg,
      rgb(255 255 255 / 30%) 0%,
      rgb(255 255 255 / 10%) 99%
    );
}

.right {
  float: right;
}

.left {
  float: left;
}
