.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.clearfix::before,
.clearfix::after {
  display: table;
  content: "";
}

.clearfix::after {
  clear: both;
}

a[disabled] {
  pointer-events: none;
}

[class*="prevent-scroll"] {
  height: 100vh;
  overflow: hidden;
}

[hidden] {
  display: none !important;
}

.right {
  float: right;
}

.left {
  float: left;
}
